<?xml version="1.0"?>
<!-- Revolute-Revolute Manipulator -->
<!--
Copied and modified from ROS1 example -
https://github.com/ros-simulation/gazebo_ros_demos/blob/kinetic-devel/rrbot_description/urdf/rrbot.xacro
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arm_robot">
  <xacro:arg name="prefix" default=""/>

  <!-- Import RRBot macro -->
  <xacro:include filename="$(find arm_robot)/arm_description.urdf.xacro" />

  <!-- Import Rviz colors -->
  <!-- <xacro:include filename="$(find 3DOFs_arm)/description/arm.materials.xacro" /> -->

  <!-- Import RRBot ros2_control description -->
  <xacro:include filename="$(find arm_robot)/arm.ros2_control.xacro" />

  <!-- Used for fixing robot -->
  <link name="world"/>
  <gazebo reference="world">
    <static>true</static>
  </gazebo>

  <xacro:arm parent="world" prefix="$(arg prefix)">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:arm>

  <xacro:arm_ros2_control name="arm" prefix="$(arg prefix)" />

</robot>
