<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="arm_sensor_ros2_control" params="name">

        <ros2_control name="${name}" type="system">

            <hardware>
                <plugin></plugin>
            </hardware>

            <joint name="slider_joint">
                <command_interface name="position">
                    <param name="min">0</param>
                    <param name="max">2</param>
                </command_interface>
                
                <state_interface name="position"/>
            </joint>

            <joint name="arm_joint">
                <command_interface name="position">
                    <param name="min">0</param>
                    <param name="max">3.14/2</param>
                </command_interface>

                <state_interface name="position"/>
            </joint>

        </ros2_control>

    </xacro:macro>
    
</robot>